torch~=2.4.1
tqdm~=4.66.5
natasha~=1.6.0
pip~=22.3
pillow~=10.4.0
Jinja2~=3.1.4
setuptools~=65.5.0
packaging~=24.1
typing_extensions~=4.12.2
requests~=2.32.3
transformers~=4.44.2
sentence-transformers~=3.1.0
python-docx~=1.1.2
docxtpl~=0.18.0